<div class="page-header">
  <h1>About The Journal of Brief Ideas</h1>
</div>

<div class="row form">
  <div class="col-sm-8">
    <%= render :partial => 'shared/flashes', :locals => { :flash => flash } %>

    <p class="lead">The Journal of Brief Ideas is a research journal, composed entirely of 'brief ideas'. The goal here is to provide a place for short ideas to be described - <em>in 200 words or less</em> - for these ideas to be archived (courtesy of <a href="http://zenodo.org">Zenodo</a>), searchable and citable.</p>
    <a name="faq"></a>

    <h3>Why are you doing this?</h3>

    <p>We think that that there is an inherent inefficiency in scientific publishing due to the quantum (or minimum publishable amount) of research being too large. It can takes many years to do enough research for a publication in a top-tier journal. Meanwhile, all that intellectual capital is tied up solely in the heads of the researchers rather than circulating where it could be doing some good. Also, many research ideas and results are not publishable because they are small, negative, partial, or just don't fit the criteria of other journals. But many of them can be expressed briefly and could aid other researchers.</p>

    <h3>Why would I put out a partial or in-progress result to the world? Won't it just get stolen?</h3>

    <p>Primarily because it is part of being a good scientific citizen but you also might get the feedback you need to improve your research. Entries in the Journal of Brief Ideas are permanently archived, searchable, and citable, so they have the same publication status as in any other journal. That means that you can get credit for your idea as soon as you have it. You can put the entry on a CV, attach it to your ORCID profile, or use it as you would any other publication.</p>

    <p>In addition, if you are a good researcher, you have more ideas than you can pursue at length. Wouldn't you rather be credited for those ideas and see somebody else build on them than have them disappear from the research community completely, or have somebody later come up with the same idea and have them get credit for it?</p>

    <h3>What about peer review?</h3>

    <p>For something as brief as 200-words, wouldn't you rather just judge the quality of an idea yourself rather than have that judgement proxied by an anonymous peer reviewer? It is impractical to have 200-word ideas reviewed pre-publication so we choose to have a post-publication review system. There is a rating for each idea and for each researcher so you can judge quality by those ratings if you don't trust your own judgement. </p>

    <h3>So are you against peer review?</h3>

    <p>Not at all. Peer review is quite appropriate for many types of publications and for grant applications and funding, but peer review doesn't seem very workable when the idea is so brief. Any review is likely to be longer than the idea itself and so would be better off put out there as a further idea building on the original.</p>

    <h3>200 words? Really? What can you say in 200 words?</h3>

    <p>If we go back into the vaults of history, we find the original scientific journals published primarily letters that were often around the 200 words length. Somehow, they managed to say important things in that length. There's no reason why you can't also. Publishing a brief idea doesn't prohibit you form expanding on the idea at length and publishing a fuller version in some other journal, of course.</p>

    <br />
    <a name="team"></a>
    <h2>Team</h2>

    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag "people/david.jpg", :class => "media-object", :size => "100x100" %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">David Harris, <a href="http://twitter.com/physicsdavid" target="_blank">@physicsdavid</a> - Editor-in-chief</h4>
        Co-founder of The Journal of Brief Ideas. David Harris is a physicist, science communicator, and artist. He was previously founding editor-in-chief of Symmetry magazine and founding magazine section editor of the Proceedings of the National Academy of Sciences. <%= link_to "www.physicsdavid.net", "http://www.physicsdavid.net/", :target => "_blank" %> / <%= link_to "sciartica.net", "http://sciartica.net/", :target => "_blank" %>.
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag "people/arfon.jpg", :class => "media-object", :size => "100x100" %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Arfon Smith, <a href="http://twitter.com/arfon" target="_blank">@arfon</a> - Technical Lead</h4>
        Co-founder of The Journal of Brief Ideas, Scientist at GitHub. Co-creator of the <%= link_to "Zooniverse", "http://zooniverse.org", :target => "_blank" %>, <%= link_to "once wrote a thesis about dust", "http://www.arfon.org/thesis", :target => "_blank" %>, publishes the <a href="http://arxiv.org/find/all/1/all:+arfon/0/1/0/all/0/1" target="_blank">odd paper</a>, sporadically blogs at <a href="http://arfon.org" target="_blank">arfon.org</a>.
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag "people/stuart.png", :class => "media-object", :size => "100x100" %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Stuart Lynn, <a href="http://twitter.com/stuart_lynn" target="_blank">@stuart_lynn</a> - Lead Engineer</h4>
        Technical lead of the Zooniverse, works at the Adler Planetarium in Chicago. Fascinated by how web technologies can change both participating in science and museums.
      </div>
    </div>

    <div class="media">
      <div class="media-left">
        <a href="#">
          <%= image_tag "people/lars.jpg", :class => "media-object", :size => "100x100" %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Lars Holm Nielsen, <a href="http://twitter.com/larshankat" target="_blank">@larshankat</a> - ZENODO Project Lead</h4>
        Software Engineer at CERN, responsible for ZENODO, an innovative research data management service for long-tail science. Specialities includes bringing innovative web-based products from the initial thought to successful launch in short time.
      </div>
    </div>

    <br />

    <a name="licensing"></a>
    <h2>Content Licensing</h2>
    <p>Copyright on any brief idea published in The Journal of Brief Ideas is retained by the author(s). Authors grant The Journal of Brief Ideas a license to publish the article and identify itself as the original publisher. Authors also grant any third party the right to use the article freely as long as its original authors, citation details and publisher are identified.</p>
    <p>The <%= link_to "Creative Commons Attribution License (CC-BY)", "https://creativecommons.org/licenses/by/4.0/legalcode", :target => "_blank" %> allows users to copy, distribute and transmit an article, adapt the article and make commercial use of the article. The CC BY license permits commercial and non-commercial re-use of an open access article, as long as the author is properly attributed.</p>

    <br />

    <a name="software"></a>
    <h2>Software</h2>
    <p>The software behind The Journal of Brief Ideas is hosted on <%= link_to "GitHub", "https://github.com/openjournals/brief-ideas", :target => "_blank" %> and freely available for reuse.</p>
    <ul>
      <li><%= link_to "GitHub repository", "https://github.com/openjournals/brief-ideas", :target => "_blank" %></li>
      <li><%= link_to "Ask a question", "https://github.com/openjournals/brief-ideas/issues/new?title=Hello&labels=question", :target => "_blank" %></li>
      <li><%= link_to "Known issues", "https://github.com/openjournals/brief-ideas/issues", :target => "_blank" %></li>
      <li><%= link_to "Report a bug", "https://github.com/openjournals/brief-ideas/issues/new?title=I%20Found%20A%20Bug&labels=bug", :target => "_blank" %></li>
    </ul>
    <br />

  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <div class="about-nav" data-spy="affix" data-offset-top="120">
      <h5>Contents</h5>
      <ul class="similar">
        <li><a href="#faq">Frequently asked questions</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#licensing">Content Licensing</a></li>
        <li><a href="#software">Software</a></li>
      </ul>
    </div>
  </div>
</div>
