<div class="page-header">
  <h1>Submit a new idea. <small>In 200 words or less.</small></h1>
</div>

<div class="row form">
  <div class="col-sm-8">
    <%= render :partial => 'shared/flashes', :locals => { :flash => flash } %>
    <%= render :partial => "users/email" unless current_user.email? %>
    <%= render :partial => "shared/ora" %> 
    <%= render :partial => "form" %>
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <%= render :partial => 'sessions/login' %>

    <div class="helper-block">
      <h5>Submission help</h5>
      <p>Watch <a href="https://www.youtube.com/embed/0fYV2cqN1yU" target="_blank">this 2-minute video</a> that will walk you through how to submit an idea.</p>
    </div>

    <div class="helper-block">
      <h5>Formatting</h5>
      <p>You can use Markdown to format your ideas. Read more about the supported syntax <a href="https://help.github.com/articles/github-flavored-markdown/" target="_blank">here</a>.</p>
    </div>

    <div class="helper-block">
      <h5>Citations</h5>
      <p>Citations are standard <a href="https://help.github.com/articles/github-flavored-markdown/" target="_blank">markdown</a> links. Search for existing author names by typing '@', for existing ideas use '#'.</p>
    </div>

    <div class="similar-block">
      <h5>Possible similar ideas</h5>
      <p id="similar-results">There are no similar ideas</p>
    </div>
  </div>
</div>
