<div class="page-header">
  <h1>The Journal of Brief Ideas.<small> Submit a new idea.</small></h1>
</div>

<div class="row">
  <div class="col-sm-8">
    <%= render :partial => 'shared/flashes', :locals => { :flash => flash } %>
    <%= render :partial => "form"%>
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <span class="login-block">
      <%= image_tag current_user.avatar_url, :class => "avatar" %>
      <p class="name"><%= current_user.name %> &middot; <%= link_to "Sign out", signout_path %></p>
    </span>
  </div>
</div>
