<div class="page-header">
  <h1><%= raw @idea.formatted_title %></h1>
</div>

<div class="row">
  <div class="col-sm-8">
    <div class="idea single">
      <%= render :partial => 'shared/flashes', :locals => { :flash => flash } %>
      <%= render :partial => "users/email" if current_user %>
      <%= render 'layouts/errors', :object => @idea %>
      <%= render :partial => "ideas/notices" %>

      <p class="lead"><em>By <%= linked_authors(@idea, orcid=false) %></em></p>

      <% if @idea.tags.any? %>
        <p>
          <%= render :partial => "shared/clickable_tag_list", :locals => { :tags => @idea.tags } %>
        </p>
      <% else %>
        <p>This idea isn't tagged with anything</p>
      <% end %>

      <p><%= raw @idea.formatted_body %></p>

      <%= render :partial => 'ideas/references', :locals => { :references => @idea.references } if @idea.references.any? %>
      <%= render :partial => 'ideas/derivatives', :locals => { :idea => @idea } if @idea.citations.published.any? %>

      <% if @idea.published? %>
        <h4>Comments</h4>

        <div id="comments_<%= @idea.sha %>">
          <%= render :partial => "comment", :collection => @idea.comments %>
        </div>

        <%= render :partial => "comment_form", :locals => { :idea => @idea } %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <%= render :partial => 'sessions/login' %>

    <div class="help-block">
      <% if current_user %>
      <h5>Actions</h5>
      <div id="button_<%= @idea.id %>"><%= render :partial => "votes/button", :locals => { :idea => @idea } %></div>
      <span class="dropdown">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-xs dismiss pull-left dropdown-toggle">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Collect
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="position:relative">
          <% current_user.collections.each do |collection| %>
          <li role="presentation"><%= link_to collection.name, add_idea_collection_path(collection.sha, :idea_id => @idea.sha), :method => :post, :tabindex => "-1" %></li>
          <% end %>
          <li role="presentation" class="new-collection"><%= link_to "Start new collection &raquo;".html_safe, new_collection_path(:idea_id => @idea.sha), :tabindex => "-1" %></li>
        </ul>
      </span>
      <p class="clearfix"></p>
      <% end %>

      <div class="social">
        <span class='st_facebook_hcount' displayText='Facebook'></span>
        <span class='st_twitter_hcount' displayText='Tweet'></span>
      </div>
    </div>

    <div class="help-block">
      <h5>Authors</h5>
      <p><%= linked_authors(@idea, orcid=true) %></p>

      <h5>Metadata</h5>
      <% if @idea.doi? %><p><%= link_to image_tag(@idea.doi_badge_url), @idea.doi %></p><% end %>
      <p>Published: <%= @idea.created_at.strftime("%e %b, %Y") %></p>
      <p><%= link_to image_tag("cc-by.png"), "https://creativecommons.org/licenses/by/4.0/legalcode" %></p>
    </div>
  </div>
</div>
