<div class="row">
  <div class="col-sm-8">
    <%= render :partial => 'shared/flashes', :locals => { :flash => flash } %>
    <p class="lead"><%= @idea.title %></p>

    <p><%= @idea.body %></p>
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <span class="login-block">
      <%= image_tag current_user.avatar_url, :class => "avatar" %>
      <p class="name"><%= current_user.name %> &middot; <%= link_to "Sign out", signout_path %></p>
    </span>
  </div>
</div>
