<div class="page-header">
  <h1><%= @idea.title %></h1>
</div>

<div class="row">
  <div class="col-sm-8">
    <div class="idea single">
      <%= render :partial => 'shared/flashes', :locals => { :flash => flash } %>

      <p><em><%= @idea.subject %></em></p>
      <p><%= raw @idea.formatted_body %></p>

      <%= render :partial => 'ideas/references', :locals => { :references => @idea.references } if @idea.references.any? %>
      <%= render :partial => 'ideas/derivatives', :locals => { :idea => @idea } if @idea.citations.any? %>
    </div>
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <%= render :partial => 'sessions/login' %>

    <div class="help-block">
      <h5>Content Tags</h5>
      <% if @idea.tags.any? %>
        <p>
          <%= render :partial => "shared/clickable_tag_list", :locals => { :tags => @idea.tags } %>
        </p>
      <% else %>
        <p>This idea isn't tagged with anything</p>
      <% end %>
    </div>

    <div class="help-block">
      <h5>Actions</h5>
      <div id="button_<%= @idea.id %>"><%= render :partial => "votes/button", :locals => { :idea => @idea } %></div>
      <!-- <p><%= link_to "New idea based on this", new_idea_path(:references_id => @idea.sha) %></p> -->
      <p></p>
      <div class="social">
        <span class='st_facebook_hcount' displayText='Facebook'></span>
        <span class='st_twitter_hcount' displayText='Tweet'></span>
      </div>
    </div>

    <div class="help-block">
      <h5>Metadata</h5>
      <% if @idea.doi? %><p><%= link_to image_tag(@idea.doi_badge_url), @idea.doi %></p><% end %>
      <p>Author: <%= link_to @idea.user.nice_name, user_path(@idea.user) %></p>
      <p>Published: <%= @idea.created_at.strftime("%e %b, %Y") %></p>
      <p><%= link_to image_tag("cc-by.png"), "https://creativecommons.org/licenses/by/4.0/legalcode" %></p>
    </div>
  </div>
</div>
