<div class="page-header">
  <h1><%= @idea.title %></h1>
</div>

<div class="row">
  <div class="col-sm-8">
    <div class="idea single">
      <%= render :partial => 'shared/flashes', :locals => { :flash => flash } %>
      <%= render 'layouts/errors', :object => @idea %>

      <% if @idea.pending? %>
        <div class="alert alert-warning" role="alert">
          Please note, this idea is pending acceptance by the editors of the Journal of Brief Ideas.
        </div>
      <% elsif @idea.rejected? && @idea.creator == current_user %>
        <div class="alert alert-danger" role="alert">
          This idea was not accepted into the Journal of Brief Ideas.
        </div>
      <% end %>
      <p class="lead"><em>By <%= link_to @idea.user.nice_name, user_path(@idea.user) %></em></p>

      <% if @idea.tags.any? %>
        <p>
          <%= render :partial => "shared/clickable_tag_list", :locals => { :tags => @idea.tags } %>
        </p>
      <% else %>
        <p>This idea isn't tagged with anything</p>
      <% end %>

      <p><%= raw @idea.formatted_body %></p>

      <%= render :partial => 'ideas/references', :locals => { :references => @idea.references } if @idea.references.any? %>
      <%= render :partial => 'ideas/derivatives', :locals => { :idea => @idea } if @idea.citations.published.any? %>

      <div id="comments_<%= @idea.sha %>">
        <% if @idea.comments.any? %>
          <h4>Comments</h4>
        <% end %>
        <%= render :partial => "comment", :collection => @idea.comments %>
      </div>

      <%= render :partial => "comment_form", :locals => { :idea => @idea } %>
    </div>
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <%= render :partial => 'sessions/login' %>

    <div class="help-block">
      <% if current_user %>
      <h5>Actions</h5>
      <div id="button_<%= @idea.id %>"><%= render :partial => "votes/button", :locals => { :idea => @idea } %></div>

      <p class="clearfix"></p>
      <% end %>

      <div class="social">
        <span class='st_facebook_hcount' displayText='Facebook'></span>
        <span class='st_twitter_hcount' displayText='Tweet'></span>
      </div>
    </div>

    <div class="help-block">
      <h5>Author</h5>
      <p><%= link_to @idea.user.nice_name, @idea.user.orcid_url, :target => "_blank" %></p>

      <h5>Metadata</h5>
      <% if @idea.doi? %><p><%= link_to image_tag(@idea.doi_badge_url), @idea.doi %></p><% end %>
      <p>Published: <%= @idea.created_at.strftime("%e %b, %Y") %></p>
      <p><%= link_to image_tag("cc-by.png"), "https://creativecommons.org/licenses/by/4.0/legalcode" %></p>
    </div>
  </div>
</div>
