<div class="page-header">
  <h1>Search existing ideas</h1>
</div>

<div class="row form">
  <div class="col-sm-8">
    <%= render :partial => 'shared/flashes', :locals => { :flash => flash } %>

    <% if @tags %>
      <% if @ideas.empty? %>
        <p class="lead">Sorry, there were no ideas tagged with <%= @tags.join(', ')%>.</p>
      <% else %>

      <p class="lead">Ideas tagged with <%= @tags.join(', ') %></p>
        <% @ideas.each do |idea| %>
          <h4><em><%= link_to idea.title, idea_path(idea) %></em></h4>
          <p><%= truncate(raw(idea.body), :length => 300, :omission => "... ") %></p>
          <p>By <%= linked_authors(idea, orcid=false) %></p>
        <% end %>
      <% end %>
    <% end %>

    <iframe src="https://duckduckgo.com/search.html?site=http://beta.briefideas.org&prefill=Search the Journal of Brief Ideas" style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;" frameborder="0"></iframe>

  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <%= render :partial => 'sessions/login' %>
  </div>
</div>
