<div class="page-header">
  <h1>Ideas review</h1>
</div>

<div class="row form">
  <div class="col-sm-8">
    <%= render :partial => 'shared/flashes', :locals => { :flash => flash } %>

    <table class="table table-striped">
      <tr>
        <th>Title</th><th>Submitted</th><th>Author</th><th colspan="4">Actions</th>
      </tr>
      <% @ideas.each do |idea| %>
      <tr>
        <td><%= link_to truncate(idea.title, :length => 30), idea_path(idea), :target => "_blank" %></td>
        <td><%= idea.created_at %></td>
        <td><%= link_to idea.user.nice_name, idea.user.orcid_url, :target => "_blank" %></td>
        <% if idea.published? %>
        <td><%= button_to 'Published', publish_admin_path(idea), :class => 'btn btn-xs', :disabled => "disabled" %></td>
        <% else %>
        <td><%= button_to 'Publish', mute_admin_path(idea), :class => 'btn btn-xs btn-success' %></td>
        <% end %>
        <% if idea.muted? %>
        <td><%= button_to 'Muted', mute_admin_path(idea), :class => 'btn btn-xs', :disabled => "disabled" %></td>
        <% else %>
        <td><%= button_to 'Mute', mute_admin_path(idea), :class => 'btn btn-warning btn-xs' %></td>
        <% end %>
        <% if idea.rejected? %>
        <td><%= button_to 'Rejected', reject_admin_path(idea), :class => 'btn btn-xs', :disabled => "disabled" %></td>
        <% else %>
        <td><%= button_to 'Reject', reject_admin_path(idea), :class => 'btn btn-danger btn-xs' %></td>
        <% end %>
        <% if idea.tweeted? %>
        <td><%= button_to 'Tweeted', tweet_admin_path(idea), :class => 'btn btn-xs', :disabled => "disabled" %></td>
        <% else %>
        <td><%= button_to 'Tweet', tweet_admin_path(idea), :class => 'btn btn-info btn-xs' %></td>
        <% end %>
      </tr>
      <% end %>
    </table>

    <div class="text-center">
      <%= will_paginate @ideas, renderer: BootstrapPagination::Rails %>
    </div>
  </div>

  <div class="col-sm-3 col-sm-offset-1">
    <div class="help-block">
      <h5>Admin actions</h5>
      <p>Clicking <button type="button" class="btn btn-success btn-xs">Publish</button> will publish and idea and add the record to Zenodo.</p>
      <p>Clicking <button type="button" class="btn btn-warning btn-xs">Mute</button> will remove an idea from the front page.</p>
      <p>Clicking <button type="button" class="btn btn-danger btn-xs">Remove</button> will remove an idea from public view entirely.</p>
    </div>
  </div>
</div>
