<!DOCTYPE html>
<html>
<head>
  <title>The Journal of Brief Ideas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap core CSS -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>
  <div id="wrap">
      <!-- Static navbar -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Journal of Brief Ideas</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/ideas/new">New idea</a></li>
              <li><a href="/search">Search</a></li>
              <li><a href="https://github.com/openjournals/brief-ideas/issues/new?title=Hello&labels=question" target="_blank">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
      </nav>

    <div class="container">
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>
  <div id="footer">
    <div class="container">
      <p class="text-muted"><%= link_to "The Journal of Brief Ideas", "https://github.com/openjournals/brief-ideas", :target => "_blank" %> &middot; All content licensed under the <%= link_to "Creative Commons Attribution License (CC-BY)", "https://creativecommons.org/licenses/by/4.0/legalcode", :target => "_blank" %>
    </div>
  </div>
</body>
</html>
