<!DOCTYPE html>
<html>
<head>
  <title>The Journal of Brief Ideas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- TODO fix this URL -->
  <link rel="alternate" type="application/atom+xml" title="Journal of Brief Ideas" href="http://ideas.theoj.org/ideas.atom" />

  <!-- Bootstrap core CSS -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <!-- Share this -->
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "982bb29b-ce20-4d3f-b9bb-75a04b7fadcf", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47852178-3', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- Twitter cards -->
  <% if @idea && !@idea.new_record? %>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@jofbriefideas" />
  <meta name="twitter:title" content="<%= @idea.title %>" />
  <meta name="twitter:description" content="<%= @idea.body %>" />
  <meta name="twitter:url" content="<%= idea_url(@idea) %>" />
  <% end %>
</head>
<body>
  <div id="wrap">
      <!-- Static navbar -->
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Journal of Brief Ideas</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <%= nav_link 'Home', root_path %>
              <%= nav_link 'New idea', new_idea_path %>
              <%= nav_link 'Search', search_path %>
              <li><a href="https://github.com/openjournals/brief-ideas/issues/new?title=Hello&labels=question" target="_blank">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
      </nav>

    <div class="container">
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>
  <div id="footer">
    <div class="container">
      <p class="text-muted"><%= link_to "The Journal of Brief Ideas", "https://github.com/openjournals/brief-ideas", :target => "_blank" %> &middot; All content licensed under the <%= link_to "Creative Commons Attribution License (CC-BY)", "https://creativecommons.org/licenses/by/4.0/legalcode", :target => "_blank" %> <span class="pull-right"><%= image_tag "feed-icon-14x14.png" %> &middot; <%= link_to "Recent ideas", ideas_path(:format => :atom) %></span></p>
    </div>
  </div>
</body>
</html>
