<!DOCTYPE html>
<html>
<head>
  <title>The Journal of Brief Ideas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap core CSS -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>The Journal of Brief Ideas.<small> Keep it short, keep it sweet.</small></h1>
    </div>

    <%= yield %>
  </div>
  <div class="footer">
    <div class="container">
      <p class="text-muted"><%= link_to "The Journal of Brief Ideas", "https://github.com/openjournals/brief-ideas", :target => "_blank" %> &middot; Brought to you by <%= link_to "@arfon", "http://twitter.com/arfon", :class => "twitter" %>, <%= link_to "@physicsdavid", "http://twitter.com/physicsdavid", :class => "twitter" %> and <%= link_to "@stuart_lynn", "http://twitter.com/stuart_lynn", :class => "twitter" %></p>
    </div>
  </div>
</body>
</html>
